  <section class="cover front" data-height="100" style="height:60vh;">
    <div class="background" style="background-image:url('content/images/2015/10/Untitled-1-1.jpg');"></div>

    <section class="blogtitle wrapper">
      <p class="description" itemprop="description" style="font-size: 60px;line-height: 54px;">
        Let's build something amazing together
      </p>
      <hr>
    </section>
    <div class="mouse">
      <div class="scroll"></div>
    </div>
  </section>


  <section class="postlist">
    <article class="postitem post tag-sysadmin tag-project tag-server tag-software tag-web first">
      <div class="wrapper">
        <a href="install-tinc-and-vpn-setup-on-debian-ubuntu/index.html" class="content postimage" style="background-image:url('content/images/2015/10/macbook.jpg');"></a>
        <ul class="meta">
          <li class="category system%20administration"><a href="tag/sysadmin/index.html">system administration</a></li>
          <li class="category project"><a href="tag/project/index.html">project</a></li>
          <li class="category server"><a href="tag/server/index.html">server</a></li>
          <li class="category software"><a href="tag/software/index.html">software</a></li>
          <li class="category web"><a href="tag/web/index.html">web</a></li>
          <li class="date"><a href="install-tinc-and-vpn-setup-on-debian-ubuntu/index.html"><time datetime="2015-05-24">May 24th, 2015</time></a></li>
        </ul>
        <h2 class="title"><a href="install-tinc-and-vpn-setup-on-debian-ubuntu/index.html">Install Tinc and VPN Setup on Debian &amp; Ubuntu</a></h2>
        <p class="excerpt">A few of the features that Tinc has that makes it useful include encryption, optional compression, automatic mesh routing (VPN traffic is routed directly between the communicating servers, if possible), and easy expansion. These features differentiate Tinc from other VPN solutions such as OpenVPN, and make it a good solution for creating&hellip;</p>
        <a href="author/harvey/index.html" class="author"><img src="../www.gravatar.com/avatar/95a48526d22b41569005fb1d3426b3e19d20.jpeg?s=250&amp;d=mm&amp;r=x" alt="Harvey Specter">Harvey Specter</a>
      </div>
    </article>


    <nav class="pagination">
      <div class="wrapper">
        <a href="page/2/index.html" class="button rounded light previous"><span class="main">Older Posts</span><span class="sub"><i class="fa fa-chevron-right"></i></span></a>
      </div>
    </nav>

  </section>







