<footer class="main">

  <section class="widget copyright">
    <p class="main">
      Copyright &copy; <a href="index.html">EckoThemes</a>. 2016 &bull; All rights reserved.
    </p>
    <p class="alt">
      <span class="ecko"><a target="_blank" href="http://ecko.me/themes/ghost/cedar">Cedar Ghost Theme</a> by <a target="_blank" href="http://ecko.me/">EckoThemes</a>.</span>
      <span class="ghost">Published with <a target="_blank" href="http://ghost.org/">Ghost</a>.</span>
    </p>
  </section>
  <ul class="social">

    <li><a href="http://twitter.com/" target="_blank" class="twitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a href="http://dribbble.com/" target="_blank" class="dribbble" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
    <li><a href="http://facebook.com/" target="_blank" class="facebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
    <li><a href="http://google.com/plus" target="_blank" class="google" title="Google+"><i class="fa fa-google"></i></a></li>
    <li><a href="http://youtube.com/" target="_blank" class="youtube" title="YouTube"><i class="fa fa-youtube"></i></a></li>
    <li><a href="http://instagram.com/" target="_blank" class="instagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
    <li><a href="http://linkedin.com/" target="_blank" class="linkedin" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="http://github.com/" target="_blank" class="github" title="GitHub"><i class="fa fa-github"></i></a></li>
    <li><a href="http://pinterest.com/" target="_blank" class="pinterest" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
    <li><a href="http://flickr.com/" target="_blank" class="flickr" title="Flickr"><i class="fa fa-flickr"></i></a></li>
    <li><a href="http://vine.co/" target="_blank" class="vine" title="Vine"><i class="fa fa-vine"></i></a></li>
    <li><a href="http://vimeo.com/" target="_blank" class="vimeo" title="Vimeo"><i class="fa fa-vimeo-square"></i></a></li>
    <li><a href="rss/index.html" target="_blank" class="rss" title="RSS"><i class="fa fa-rss"></i></a></li>


  </ul>
</footer>
