<header class="bloginfo transparent">
  <div class="title">
    <a href="index.html"><img src="content/images/2015/09/cover_logo-1.png" class="retina" alt="EckoThemes"></a>
  </div>
  <nav class="main light">

    <ul class="nav-items">
      <li><%=link_to 'Home', root_path%></li>
      <li><%=link_to 'Blog', blog_path%></li>
      <li><%=link_to 'About', about_path%></li>
      <li><%=link_to 'Contact', contact_path%></li>
    </ul>
  </nav>
</header>
